<nav class="navbar mr-auto navbar-dark bg-dark container-fluid">

    <a class="navbar-brand" href="/">SimpleBank</a>

    <button class="navbar-toggler" title="Navigation menu" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass">
        <div class="navbar-nav">
            <div class="nav-item mx-2">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </div>
            <div class="nav-item mx-2">
                <NavLink class="nav-link" href="userspage">
                    Users
                </NavLink>
            </div>
            <div class="nav-item mx-2">
                <NavLink class="nav-link" href="accountspage">
                    Accounts
                </NavLink>
            </div>
        </div>
    </div>

</nav>


@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}


