@using SimpleBank.AcctManage.UI.Blazor.Server.Services.Responses

<div class="container-md rounded monoBox dropshadow mx-auto">

    <h3>Profile</h3>

    <table class="table table-bordered table-hover table-responsive-lg">
        <tr>
            <th scope="row" class="thead-dark">User Id:</th>
            <td>@CreateUserResponse?.UserId</td>
        </tr>
        <tr>
            <th scope="row" class="thead-dark">Username:</th>
            <td>@CreateUserResponse?.Username</td>
        </tr>
        <tr>
            <th scope="row" class="thead-dark">Email:</th>
            <td>@CreateUserResponse?.Email</td>
        </tr>
        <tr>
            <th scope="row" class="thead-dark">Created at:</th>
            <td>@CreateUserResponse?.CreatedAt</td>
        </tr>
    </table>
    
</div>
<br /><br /><br />

@code {
    [Parameter]
    public CreateUserResponse? CreateUserResponse { get; set; }

}
