@page "/userspage"
@using SimpleBank.BlazorServerApp.Contracts
@using SimpleBank.BlazorServerApp.Data.Requests
@using SimpleBank.BlazorServerApp.Data.Responses

@inject IUserService userService

<PageTitle>Users page</PageTitle>

<h1>Users page</h1>
<hr />

@if (!userLogged)
{
    <div class="d-flex flex-row justify-content-center">
        <div>
            <CreateUser></CreateUser>
        </div>
        <div class="p-2"></div>
        <div>
            <LoginUser OnUserLogginIn="@OnUserLogginIn"></LoginUser>
        </div>
    </div>
}
else
{
    <ProfileUser CreateUserResponse="@createUserResponse"></ProfileUser>
    
    <LogoutUser OnUserLogginOut="@OnUserLogginOut"></LogoutUser>
}
<br /><br /><br />
<br /><br /><br />

@code {
    private bool userLogged;
    private CreateUserResponse? createUserResponse;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userLogged = await userService.CheckLocallyIfUserIsLoggedAsync();
            if (userLogged)  { createUserResponse = await userService.GetUser(); }
            StateHasChanged();
        }
    }


    public async void OnUserLogginIn(bool logged)
    {
        createUserResponse = await userService.GetUser();
        userLogged = logged;
        StateHasChanged();
    }

    public void OnUserLogginOut(bool logged) =>
        userLogged = !logged;





}


