
@inherits LayoutComponentBase

<PageTitle>SimpleBank</PageTitle>

<main>

    <NavMenu />

    <article class="mx-4">
        @Body
    </article>

    <footer class="px-4">
        <p>footer</p>
    </footer>

</main>
