@page "/"
@using System.Globalization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Index> Loc

<PageTitle>SimpleBank</PageTitle>

<h2>@Loc["Title"]</h2>

<p> <b>CurrentCulture</b>: @CultureInfo.CurrentCulture </p>



@code {



}


