@inherits LayoutComponentBase

<PageTitle>SimpleBank</PageTitle>

<div class="page">

    <header></header>

    <NavMenu />

    <main class="mx-4">
        @Body
    </main>

    <footer class="p-4">
        <CultureSelector />
    </footer>

</div>
