@inherits LayoutComponentBase

<PageTitle>SimpleBank</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://localhost:7239/" target="_blank">Todo</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
