<div class="container-md rounded monoBox dropshadow imgLoading">
    <img src="https://media2.giphy.com/media/daak2Jqk5NZN2G4PKD/giphy.gif?cid=790b76111c99fec2df7690377911ead8ffadeaf22642eb46&rid=giphy.gif&ct=g" alt="Loading...">
</div>