@page "/test"
@using SimpleBank.AcctManage.UI.Blazor.Server.Services
@inject AccountService accountService

<h3>TestImage</h3>

<embed src="@imgUrl" alt="No document to display." width="300" height="300" />
<br /> <br /> <br />


@code {
    private string? imgUrl;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        var docId = Guid.Parse("e4542dc3-4de3-488f-b4b0-5d7d3782e6e4");
        //imgUrl = await accountService.DownloadDoc(docId);

    }
}
