@using SimpleBank.BlazorServerApp.Contracts
@using SimpleBank.BlazorServerApp.Data.Requests
@using SimpleBank.BlazorServerApp.Data.Responses
@inject IAccountService accountService

<div class="container-sm mx-auto rounded monoBox dropshadow">

    <h4>Create account</h4>
    <hr />

    <EditForm Model="@createAccountRequest" OnSubmit="CallAPIToCreateAccount">
        <DataAnnotationsValidator />
        @*<ValidationSummary />*@

        <div class="form-group">
            <label for="inputAmount1">Username address</label>
            <InputNumber class="form-control" id="inputAmount1" placeholder="Enter amount" @bind-Value="createAccountRequest.Amount" />
            <ValidationMessage For="@(() => createAccountRequest.Amount)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label for="inputCurrency1">Username address</label>
            <InputText class="form-control" id="inputCurrency1" placeholder="Enter currency" @bind-Value="createAccountRequest.Currency" />
            <ValidationMessage For="@(() => createAccountRequest.Currency)"></ValidationMessage>
        </div>
        <br />
        <button type="submit" class="btn btn-dark">Create</button>

    </EditForm>
</div>



@code {
    [Parameter]
    public EventCallback<AccountResponse> OnAccountCreation { get; set; }

    private CreateAccountRequest createAccountRequest = new();
    private AccountResponse account = new();

    private async Task CallAPIToCreateAccount()
    {
        var newAccount = await accountService.CreateAccount(createAccountRequest);
        if (newAccount != null)
        {
            account = newAccount;
            await OnAccountCreation.InvokeAsync(newAccount);
            //accountsList.Add(account);
        }
    }
}
