@import url('site-from_template.css');
@import url('site-colors.css');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}