@page "/usertest"
@using SimpleBank.BlazorServerApp.Data.Requests
@using SimpleBank.BlazorServerApp.Data.Responses
@using SimpleBank.BlazorServerApp.Services

@inject IUserService userService

<PageTitle>UserTest</PageTitle>

<h3>UserTest</h3>

<p>UserRequest: @createUserRequest?.Username</p>
<p>UserResponse: @createUserResponse?.Username</p>

<button class="btn btn-primary" @onclick="CallAPIToCreateUser">Click me</button>

<br /><br /><br />

@code {
    private CreateUserRequest createUserRequest;
    private CreateUserResponse? createUserResponse;

    private async Task CallAPIToCreateUser()
    {
        createUserRequest = new CreateUserRequest()
            {
                Email = "lalalalalala23@gmail.com",
                Fullname = "Joao Almeida Martins",
                Password = "12345abc#",
                Username = "JoaoTungas7"
            };

        var temp = await userService.Create(createUserRequest);
        createUserResponse = temp;
    }

}



@*
        request
        public string Email { get; set; }
        public string Fullname { get; set; }
        public string Password { get; set; }
        public string Username { get; set; }

        response
        public Guid UserId { get; set; }
        public string CreatedAt { get; set; }
        public string Email { get; set; }
        public string Fullname { get; set; }
        public string PasswordChangedAt { get; set; }
        public string Username { get; set; }

*@
