@page "/userspage"
@using SimpleBank.BlazorServerApp.Contracts
@using SimpleBank.BlazorServerApp.Data.Requests
@using SimpleBank.BlazorServerApp.Data.Responses
@using SimpleBank.BlazorServerApp.Services

@inject IUserService userService

<PageTitle>Users Page</PageTitle>

<h3>Users Page</h3>
<hr /><br />



<div style="font-size:smaller; float:left;">

    <div style="float:left; width:100%;">
        <br /><br /><br />
        <h5>Create User</h5>
        <hr /><br />
    </div>

    <div style="float:left; width:100%;">
        <div style="float:left; width:30%;">
            <EditForm Model="@createUserRequest" OnSubmit="CallAPIToCreateUser">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <p>
                    <label>
                        Fullname:
                        <InputText @bind-Value="createUserRequest.Fullname" />
                    </label>
                </p>
                <p>
                    <label>
                        Username:
                        <InputText @bind-Value="createUserRequest.Username" />
                    </label>
                </p>
                <p>
                    <label>
                        Email:
                        <InputText @bind-Value="createUserRequest.Email" />
                    </label>
                </p>
                <p>
                    <label>
                        Password:
                        <InputText @bind-Value="createUserRequest.Password" />
                    </label>
                </p>
                <button type="submit">Create</button>

            </EditForm>
        </div>

        <div style="float:left; width:30%;">
            <p><strong>UserRequest</strong></p>
            <p>Email: @createUserRequest?.Email</p>
            <p>Fullname: @createUserRequest?.Fullname</p>
            <p>Password: @createUserRequest?.Password</p>
            <p>Username: @createUserRequest?.Username</p>
        </div>
        <div style="float:left; width:30%;">
            <p><strong>UserResponse</strong></p>
            <p>UserId: @createUserResponse?.UserId</p>
            <p>CreatedAt: @createUserResponse?.CreatedAt</p>
            <p>Email: @createUserResponse?.Email</p>
            <p>Fullname: @createUserResponse?.Fullname</p>
            <p>PasswordChangedAt: @createUserResponse?.PasswordChangedAt</p>
            <p>Username: @createUserResponse?.Username</p>
        </div>
    </div>
    

    <div style="float:left; width:100%;">
        <br /><br /><br />
        <h5>Login</h5>
        <hr /><br />
    </div>

    <div style="float:left; width:100%;">

        <div style="float:left; width:30%;">
            <div style="float:left; width:30%;">
                <button @onclick="CallAPIToLogin">
                    Login
                </button>
            </div>
        </div>

        <div style="float:left; width:30%;">
            <p><strong>Login Request</strong></p>
            <p>Password: @loginUserRequest?.Password</p>
            <p>Username: @loginUserRequest?.Username</p>
        </div>
        <div style="float:left; width:30%;">
            <p><strong>Login Response</strong></p>
            <p>UserId: @loginUserResponse?.UserId</p>
            <p>UserTokenId: @loginUserResponse?.UserTokenId</p>
            <p>AccessToken: @loginUserResponse?.AccessToken</p>
            <p>AccessTokenExpiresAt: @loginUserResponse?.AccessTokenExpiresAt</p>
            <p>RefreshToken: @loginUserResponse?.RefreshToken</p>
            <p>RefreshTokenExpiresAt: @loginUserResponse?.RefreshTokenExpiresAt</p>
        </div>
    </div>
   


    <div style="float:left; width:100%;">
        <br /><br /><br />
        <h5>Logout</h5>
        <hr /><br />
    </div>

    <div style="float:left; width:100%;">
        <div style="float:left; width:30%;">
            <button @onclick="CallAPIToLogout">
                Logout
            </button>
        </div>

        <div style="float:left; width:30%;">
            <p><strong>Logout Request</strong></p>
            <p>UserTokenId: @logoutUserRequest?.UserTokenId</p>
        </div>
        <div style="float:left; width:30%;">
            <p><strong>Logout Response</strong></p>
            <p>@logoutResponse</p>
        </div>
    </div>

</div>


@code {

    private CreateUserRequest createUserRequest = new(); 
    private CreateUserResponse? createUserResponse;
    private LoginUserRequest loginUserRequest = new();
    private LoginUserResponse? loginUserResponse = new();
    private LogoutUserRequest logoutUserRequest = new();
    private string? logoutResponse;
    private string accessToken = "";



    private async Task CallAPIToCreateUser()
    {
        createUserResponse = await userService.Create(createUserRequest);
        if(createUserResponse != null)
        {
            loginUserRequest.Username = createUserResponse.Username;
            loginUserRequest.Password = createUserRequest.Password;
        }
    }

    private async Task CallAPIToLogin()
    {
        loginUserResponse = await userService.Login(loginUserRequest);
        if (loginUserResponse != null)
        {
            accessToken = loginUserResponse.AccessToken;
            logoutUserRequest.UserTokenId = loginUserResponse.UserTokenId;
        }
    }



    private async Task CallAPIToLogout()
    {
        logoutResponse = await userService.Logout();
    }

}

@*
        LogoutUserRequest
        public Guid UserTokenId { get; set; }



*@


